In [1]:
import pandas as pd

In [9]:
train_cat = pd.read_csv('bosch_small_data/train_cat.csv', low_memory=False)
train_date = pd.read_csv('bosch_small_data/train_date.csv', low_memory=False)
train_numeric = pd.read_csv('bosch_small_data/train_numeric.csv', low_memory=False)

In [11]:
train_numeric.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,71,-0.167,-0.168,0.276,0.330,0.074,0.161,0.052,0.248,0.163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,86,-0.003,0.041,-0.033,-0.016,0.074,0.161,0.000,-0.072,0.025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [7]:
train_cat[['Id','Response']]

            Id  Response
0           23       0.0
1           71       0.0
2           76       0.0
3           86       0.0
4           97       0.0
5          125       0.0
6          197       0.0
7          221       0.0
8          249       0.0
9          295       0.0
10         327       0.0
11         359       0.0
12         365       0.0
13         391       0.0
14         404       0.0
15         416       0.0
16         464       0.0
17         718       0.0
18         723       0.0
19         731       0.0
20         766       0.0
21         797       0.0
22         859       0.0
23         865       0.0
24         870       0.0
25         885       0.0
26         901       0.0
27         916       0.0
28         941       0.0
29        1006       0.0
...        ...       ...
69712  2366291       0.0
69713  2366341       0.0
69714  2366360       0.0
69715  2366424       0.0
69716  2366427       0.0
69717  2366438       0.0
69718  2366444       0.0
69719  2366505       1.0
69720  2366580       0.0
69721  2366607       0.0
69722  2366611       0.0
69723  2366653       0.0
69724  2366686       0.0
69725  2366772       0.0
69726  2366785       0.0
69727  2366826       0.0
69728  2366842       0.0
69729  2366950       0.0
69730  2366972       0.0
69731  2366984       0.0
69732  2366999       0.0
69733  2367048       0.0
69734  2367061       0.0
69735  2367123       0.0
69736  2367170       0.0
69737  2367256       0.0
69738  2367282       0.0
69739  2367298       0.0
69740  2367369       0.0
69741  2367422       0.0

[69742 rows x 2 columns]